-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_TFM
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoria` (
  `idcategoria` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `datecreated` datetime DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `options` varchar(11) NOT NULL,
  PRIMARY KEY (`idcategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'Ameritrash','Jocs cooperatius','2025-01-09 03:05:53',1,''),(2,'Filler','Jocs r├ápids','2014-08-05 03:06:02',1,''),(3,'Rol','Rol','2024-10-16 03:04:33',1,''),(4,'Cartes','Jocs de cartes','2024-09-30 03:04:46',1,''),(5,'Familiars','Jocs f├ácils de jugar','2024-10-22 03:05:23',1,''),(6,'Accesoris','Elements complementaris','2024-10-04 02:52:12',2,''),(7,'Adults','Adults','2024-10-17 13:05:32',1,''),(8,'LoveCraft','','2024-10-20 03:05:45',1,''),(9,'Kickstarter','','2024-10-04 00:00:00',2,'');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_temp`
--

DROP TABLE IF EXISTS `detalle_temp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_temp` (
  `idDetallComanda` bigint(20) NOT NULL AUTO_INCREMENT,
  `productoidDetall` bigint(20) DEFAULT NULL,
  `preu` decimal(11,2) DEFAULT NULL,
  `quantitatDetall` int(11) DEFAULT NULL,
  `toke` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`idDetallComanda`),
  KEY `productoid` (`productoidDetall`),
  CONSTRAINT `detalle_temp_ibfk_1` FOREIGN KEY (`productoidDetall`) REFERENCES `productes` (`idproducto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_temp`
--

LOCK TABLES `detalle_temp` WRITE;
/*!40000 ALTER TABLE `detalle_temp` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_temp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallepedido`
--

DROP TABLE IF EXISTS `detallepedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallepedido` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `idproductoDetallComanda` bigint(20) DEFAULT NULL,
  `pedidoIDDetallComanda` bigint(20) DEFAULT NULL,
  `preu` decimal(10,2) DEFAULT NULL,
  `quantitatComandaDetall` int(11) DEFAULT NULL,
  `nomproductePedidoDetall` varchar(255) NOT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idproducto` (`idproductoDetallComanda`),
  KEY `pedidoID` (`pedidoIDDetallComanda`),
  CONSTRAINT `detallepedido_ibfk_1` FOREIGN KEY (`idproductoDetallComanda`) REFERENCES `productes` (`idproducto`),
  CONSTRAINT `detallepedido_ibfk_2` FOREIGN KEY (`pedidoIDDetallComanda`) REFERENCES `pedido` (`idpedido`)
) ENGINE=InnoDB AUTO_INCREMENT=274 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallepedido`
--

LOCK TABLES `detallepedido` WRITE;
/*!40000 ALTER TABLE `detallepedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallepedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modulo`
--

DROP TABLE IF EXISTS `modulo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modulo` (
  `idmodulo` bigint(20) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  PRIMARY KEY (`idmodulo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modulo`
--

LOCK TABLES `modulo` WRITE;
/*!40000 ALTER TABLE `modulo` DISABLE KEYS */;
INSERT INTO `modulo` VALUES (1,'Dashboard','Dashboard',1),(2,'Usuaris','Usuaris del sistema',1),(3,'Clients','Clients de la tenda',1),(4,'Productes','Todos los productes',1),(5,'Comandes','Comandes',1);
/*!40000 ALTER TABLE `modulo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido`
--

DROP TABLE IF EXISTS `pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido` (
  `idpedido` bigint(20) NOT NULL AUTO_INCREMENT,
  `personaid` bigint(20) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `importe` decimal(10,2) DEFAULT NULL,
  `tipopago` varchar(50) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `nomComprador` varchar(255) NOT NULL,
  `cognomComprador` varchar(255) NOT NULL,
  PRIMARY KEY (`idpedido`),
  KEY `personaid` (`personaid`),
  CONSTRAINT `pedido_ibfk_1` FOREIGN KEY (`personaid`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido`
--

LOCK TABLES `pedido` WRITE;
/*!40000 ALTER TABLE `pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

DROP TABLE IF EXISTS `permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos` (
  `idpermiso` bigint(20) NOT NULL AUTO_INCREMENT,
  `rolid` bigint(20) NOT NULL,
  `moduloid` bigint(20) NOT NULL,
  `r` int(11) DEFAULT NULL,
  `w` int(11) DEFAULT NULL,
  `d` int(11) DEFAULT NULL,
  `u` int(11) DEFAULT NULL,
  PRIMARY KEY (`idpermiso`),
  KEY `rolid` (`rolid`),
  KEY `moduloid` (`moduloid`),
  CONSTRAINT `permisos_ibfk_1` FOREIGN KEY (`rolid`) REFERENCES `rol` (`idrol`),
  CONSTRAINT `permisos_ibfk_2` FOREIGN KEY (`moduloid`) REFERENCES `modulo` (`idmodulo`)
) ENGINE=InnoDB AUTO_INCREMENT=136 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
INSERT INTO `permisos` VALUES (11,2,1,1,0,0,1),(12,2,2,1,1,1,1),(13,2,3,1,1,1,1),(14,2,4,1,1,1,1),(15,2,5,1,1,1,1),(41,3,1,0,0,0,0),(42,3,2,1,1,0,1),(43,3,3,1,1,0,0),(44,3,4,1,0,0,0),(45,3,5,0,0,0,0),(66,7,1,0,0,0,1),(67,7,2,0,0,0,1),(68,7,3,0,0,0,0),(69,7,4,0,0,0,0),(70,7,5,0,0,0,0),(76,9,1,0,0,0,0),(77,9,2,0,0,0,0),(78,9,3,0,1,0,0),(79,9,4,1,0,0,0),(80,9,5,0,0,0,0),(106,6,1,0,0,0,0),(107,6,2,0,0,0,0),(108,6,3,0,0,0,0),(109,6,4,0,0,0,0),(110,6,5,0,0,0,0),(131,10,1,1,1,1,1),(132,10,2,1,1,1,1),(133,10,3,0,1,0,1),(134,10,4,0,1,0,0),(135,10,5,1,0,0,0);
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productes`
--

DROP TABLE IF EXISTS `productes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productes` (
  `idproducto` bigint(20) NOT NULL AUTO_INCREMENT,
  `categoriaid` bigint(20) DEFAULT NULL,
  `codigo` varchar(30) DEFAULT NULL,
  `nomproducte` varchar(255) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `precio` decimal(10,2) DEFAULT NULL,
  `stock` int(11) DEFAULT NULL,
  `imagen` varchar(200) DEFAULT NULL,
  `datecreated` datetime DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `oferta` int(1) DEFAULT NULL,
  `reserva` tinyint(1) DEFAULT NULL,
  `fechaLanzamiento` date DEFAULT NULL,
  `outlet` int(11) DEFAULT NULL,
  `dificultat` varchar(10) DEFAULT NULL,
  `edat` varchar(5) DEFAULT NULL,
  `tempsDeJoc` int(2) DEFAULT NULL,
  `jugadores` int(17) DEFAULT NULL,
  `idioma` varchar(100) DEFAULT NULL,
  `editorial` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`idproducto`),
  KEY `categoriaid` (`categoriaid`),
  CONSTRAINT `productes_ibfk_1` FOREIGN KEY (`categoriaid`) REFERENCES `categoria` (`idcategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productes`
--

LOCK TABLES `productes` WRITE;
/*!40000 ALTER TABLE `productes` DISABLE KEYS */;
/*!40000 ALTER TABLE `productes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `idrol` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  PRIMARY KEY (`idrol`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Administrador','T├® acc├®s complet a totes les funcions del sistema',1),(2,'Usuari final','Usuari normal amb acc├®s limitat',1),(3,'Moderador','Pot gestionar certs aspectes com comentaris o contingut que consideren',1),(4,'Becaris','Becaris',0),(5,'Becari','Becari',0),(6,'Clients','Clients',1),(7,'Beta','Rol en proves',1),(8,'','',0),(9,'Rol9','Rol9',1),(10,'Rol id 10','10',1);
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `cognoms` varchar(100) DEFAULT NULL,
  `email` varchar(60) NOT NULL,
  `contrasenya` varchar(250) NOT NULL,
  `naixement` date DEFAULT NULL,
  `newsletter` int(11) DEFAULT NULL,
  `sexe` varchar(10) DEFAULT NULL,
  `toke` varchar(100) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `rolid` bigint(20) DEFAULT NULL,
  `identificacio` varchar(20) NOT NULL,
  `telefono` varchar(9) NOT NULL,
  `estat` int(1) NOT NULL,
  `sitaucio` int(1) NOT NULL,
  `direccio` varchar(255) NOT NULL,
  `imatgeUsuari` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `rolid` (`rolid`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`rolid`) REFERENCES `rol` (`idrol`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-26 23:30:01
